<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <script src="Scripts/angular.js"></script>
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/Scripts.js"></script>
    </head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Likes  </th>
                    <th> Dislikes </th>
                    <th> Like/Dislikes </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies">
                    <td> {{technology.name}}</td>
                    <td> {{technology.likes}}</td>
                    <td> {{technology.dislikes}} </td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)">
                        <input type="button" value="Dislike" ng-click="incrementDislikes(technology)">
                    </td> 
                </tr>
            </tbody>
        </table>    
</div>
</body>
</html>